language: ruby
rvm:
  - 2.2.2

before_script:
  - chmod +x ./script/cibuild

script: ./script/cibuild

branches:
  only:
    - gh-pages
    - master

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
