- if ! @page.date
  %footer.branding.row
  %hr
    %h5.subheader
      This Blrrg Powered by
      = succeed "." do
        %a{:href => "http://nestacms.com"} Nesta CMS,
        %a{:href => 'http://haml-lang.com/'} HAML,
        %a{:href => 'http://daringfireball.net/projects/markdown/'} Markdown,
        %a{:href => 'http://www.heroku.com/'} Heroku,
        %a{:href => 'http://foundation.zurb.com/'} Foundation,
        %a{:href => 'http://wercker.com/'} Wercker
        &hellip;
        and 
        %a{:href => 'https://untappd.com/user/bradendouglass'}beer 
        \:: Built-for #{Date.today.year}

