!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    - if @description
      %meta{:name => 'description', :content => @description}
    - if @keywords
      %meta{:name => 'keywords', :content => @keywords}
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    %meta{:content => '', :name => 'author'}/
    %link{:href => '/bootstrap/bootstrap.css', :media => 'screen', :rel => 'stylesheet'}
    %link{:href => '/css/master.css', :media => 'screen', :rel => 'stylesheet'}
    / %link{:href => '/bootstrap/bootstrap-responsive.css', :media => 'screen', :rel => 'stylesheet'}
    /[if lte IE 6]
      %link{:rel => 'stylesheet', :href => 'http://universal-ie6-css.googlecode.com/files/ie6.1.1.css', :media =>'screen, projection'}
    /[if lt IE 9]
      %script{:src => '//html5shim.googlecode.com/svn/trunk/html5.js'}
    %link{:href => '/articles.xml', :rel => 'alternate', :type => 'application/atom+xml'}
    %link{:href => "/bootstrap/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/bootstrap/images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "/bootstrap/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/bootstrap/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/

    %title
      Cloudbacon
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/"} 
            - unless @page.abspath == '/'
              %i.icon-chevron-left.icon-white
            = Nesta::Config.title
          %img.nav.pull-left{:src => 'http://c522735.r35.cf2.rackcdn.com/cloud.png'}
          %a{:href => '/bestof'}
            %img.nav.pull-left{:src => 'http://c522735.r35.cf2.rackcdn.com/Bacon.png', :style => 'padding-top: 7px;'}
          %ul.nav.pull-right
            %li
              %a{:href => 'https://www.facebook.com/aricedouglass'}
                I
                %i.icon-heart.icon-white
                Her
            %li
              %a{:href => random_post_path}
                random
            %li
              %a{:href => '/about'}
                about
            %li
              %a{:href => '/for-hire'}
                for-hire

    .container
      = yield
      %footer
        = haml :footer, :layout => false
    .analytics
      = haml :analytics, :layout => false
