!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    - if @description
      %meta{name: 'description', content: @description}
    - if @keywords
      %meta{name: 'keywords', content: @keywords}
    %link{href: '/components/foundation/css/foundation.min.css', media: 'screen', rel: 'stylesheet'}
    %link{href: '/components/foundation-icons/foundation-icons.css', media: 'screen', rel: 'stylesheet'}
    %script{src: '/components/modernizr/modernizr.js'}

    %title
      Cloudbacon
  %body
    .contain-to-grid
      %nav.top-bar{style: "overflow: hidden", data: { topbar: true }}
        %ul.title-area
          %li.name
            %h1
              %a{href: '/'}
                - unless @page.abspath == '/'
                  %i.fi-rewind
                = Nesta::Config.title
        %section.top-bar-section
          %ul.right
            %li
              %a{href: random_post_path}
                random
            %li
              %a{href: '/about'}
                about
            %li
              %a{href: '/for-hire'}
                for-hire
            %li
              %a{href: 'http://www.twitter.com/braidn'}
                %img{src: 'http://www.pairprogramwith.me/badge.png', width: '100px'}
          %ul.left
            %img.nav.pull-left{src: 'http://c522735.r35.cf2.rackcdn.com/cloud.png'}
            %a{href: '/bestof'}
            %img.nav.pull-left{src: 'http://c522735.r35.cf2.rackcdn.com/Bacon.png', style: 'padding-top: 7px;'}

    .row
      = yield
      %footer
        = haml :footer, layout: false

    .analytics
      = haml :analytics, layout: false

    %script{src: '/components/jquery/jquery.min.js' }
    %script{src: '/components/foundation/js/foundation.min.js' }
