// Quicksand from FontSquirrel.com        
@font-face {
    font-family: 'QuicksandLight';
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Light-webfont.eot');
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Light-webfont.woff') format('woff'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Light-webfont.ttf') format('truetype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandLightOblique';
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Light_Oblique-webfont.eot');
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Light_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Light_Oblique-webfont.woff') format('woff'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Light_Oblique-webfont.ttf') format('truetype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Light_Oblique-webfont.svg#QuicksandLightOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBook';
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Book-webfont.eot');
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Book-webfont.woff') format('woff'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Book-webfont.ttf') format('truetype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBookOblique';
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Book_Oblique-webfont.eot');
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Book_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Book_Oblique-webfont.woff') format('woff'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Book_Oblique-webfont.ttf') format('truetype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Book_Oblique-webfont.svg#QuicksandBookOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBold';
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Bold-webfont.eot');
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Bold-webfont.woff') format('woff'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBoldOblique';
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Bold_Oblique-webfont.eot');
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Bold_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Bold_Oblique-webfont.woff') format('woff'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Bold_Oblique-webfont.ttf') format('truetype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Bold_Oblique-webfont.svg#QuicksandBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandDash';
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Dash-webfont.eot');
    src: url('/nesta-matic/stylesheets/fonts/Quicksand_Dash-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Dash-webfont.woff') format('woff'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Dash-webfont.ttf') format('truetype'),
         url('/nesta-matic/stylesheets/fonts/Quicksand_Dash-webfont.svg#QuicksandDash') format('svg');
    font-weight: normal;
    font-style: normal;

}

// UpperEastSide from FontSquirrel.com        
@font-face {
    font-family: 'UpperEastSide';
    src: url('/nesta-matic/stylesheets/fonts/UpperEastSide-webfont.eot');
    src: url('/nesta-matic/stylesheets/fonts/UpperEastSide-webfont.eot?#iefix') format('embedded-opentype'),
         url('/nesta-matic/stylesheets/fonts/UpperEastSide-webfont.woff') format('woff'),
         url('/nesta-matic/stylesheets/fonts/UpperEastSide-webfont.ttf') format('truetype'),
         url('/nesta-matic/stylesheets/fonts/UpperEastSide-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;

}