%nav
  %a.home{:href=>'/', :title=>'Home'} home
  %a.chi-siamo{:href=>'/chi-siamo', :title=>'Chi Siamo'} chi siamo
  %a.il-gruppo{:href=>'/group', :title=>'Il Gruppo'} il gruppo
  %a.materiali{:href=>'/materiali', :title=>'Materiali'} materiali
  %a.rimani-aggiornato{:href=>'/articles.xml', :title=>'Rimani Aggiornato'} rimani aggiornato