-# From old stuff
.cards
  - Nesta::Page.find_articles.each do |article|
    .card
      %h1.card-header
        %a{:href => "#{article.abspath}"}
          =article.title
      - if article.summary
        %section.card-copy
          #{article.summary.to_s}
      %div.card-stats
        - if article.flagged_as?('link')
          %span
            %i.fi-comments
              Linked On:
        - else
          %span
            Written On:
        =format_date(article.date)
  -#= article_summaries(latest_articles)
