-# From old stuff
- Nesta::Page.find_articles.each do |article|
  .hero-unit
    %h1
      %a{:href => "#{article.abspath}"}
        =article.title
    %div.indexarticledate
      Written For:
      =format_date(article.date)
    - if article.summary
      %section.articlessummary
        =article.summary
  -#= article_summaries(latest_articles)
